.app {
  width: 1000px;
  margin: 0px auto 0px auto;
}

.input {
  height: 100px;

  background-color: rgb(255, 248, 227);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.todo-working {
  height: 100px;

  border: 3px solid plum;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-done {
  height: 100px;

  border: 3px solid rgb(145, 224, 211);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
