.app {
  width: 800px;
  margin: 0px auto 0px auto;
}

.header {
  height: 100px;
  background-color: rgb(255, 248, 227);

  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.todo-working,
.todo-done {
  height: 100px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-working {
  border: 2.5px solid plum;
}

.todo-done {
  border: 2.5px solid rgb(145, 224, 211);
}
