.app {
  width: 1000px;
  margin: 0px auto 0px auto;
}

.input {
  height: 100px;

  border: 3px solid plum;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.todo {
  height: 100px;

  background-color: rgba(220, 220, 220, 0.445);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
